@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');

* {
    box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	justify-content: center;
	max-width: 2400px;
}
#app {
	width: 80%;
	padding: 0;
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
.contactItem {
	display: flex;
	justify-content: space-around;
	border: 2px solid #2F4F4F;
	background-color: #778899;
	text-wrap: wrap;
	width: 90%;
	margin: 10px;
	padding: 10px;
}
.contactLabel, .contactEmail {
	width: 18vw;
	height: 35px;
	padding-top: 5px;
	margin-right: 10px;
	background-color: #FFF;
	font-size: 18px;
	color: #00008B;
	float: left;
	padding-left: 5px;
	overflow-wrap: break-word;
}
.contactEmail {
	text-decoration: none;
	margin-top: 18px;
}
.contactImage {
	width: 55px;
	height: 55px;
	float: left;
	background-color: #000;
	padding: 8px;
	color: #FFF; 
	margin-top: 10px;
	margin-right: 5px;
}
.contactForm {
	border: 2px solid #2F4F4F;
	background-color: #2F4F4F;
	width: 90%;
	text-align: center;
	margin: 10px;
	padding: 10px;
	float: left;
}
.contactForm > input {
	border: none;
	margin: 10px;
	padding: 5px;
	margin-right: 20px;
	font-size: 18px;
	color: #00008B;
	width: 30%;
}
button {
	font-size: 14px;
	color: #FFF;
	border: none;
	padding: 10px;
	background-color: #000;
	border: 1px dotted #FFF;
	border-radius: 5px;
}
button:hover {
	background-color: #778899;
	opacity: 0.99;
	cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1199px) {
	.contactLabel, .contactEmail {
		font-size: 80%;
		height: 40px;
	}
	.contactEmail {
		margin-top: 12px;
	}
	.contactForm > input {
		display: inline-block;
		margin: 5px;
		padding: 5px;
		margin-right: 5px;
		font-size: 80%;
		width: 25%;
	}
	button {
		font-size: 80%;
		float: none;
		margin-left: 10px;
	}
}

@media (max-width: 767px) {
	#app {
		width: 100%;
	}
	.contactItem {
		display: block;
		width: 99%;
		margin: 10px;
		padding: 10px;
	}
	.contactLabel {
		display: block;
		width: 95%;
		height: 30px;
		font-size: 90%;
		float: none;
		text-align: center;
	}
	.contactEmail {
		display: block;
		width: 95%;
		height: 30px;
		font-size: 90%;
		float: none;
		text-align: center;
		margin-top: 5px;
	}
	.contactImage {
		display: block;
		width: 55px;
		height: 55px;
		float: none;
		margin: 0 auto;
	}
	.contactForm {
		width: 99%;
		text-align: center;
		float: none;
	}
	.contactForm > input {
		display: block;
		margin-right: 0;
		font-size: 90%;
		width: 95%;
		text-align: center;
	}
	button {
		display: block;
		font-size: 14px;
		width: 95%;
		margin-left: 10px;
		cursor: pointer;
	}
	button:hover {
		background-color: #000;
		opacity: 1;
	}
}
